{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid archive col-sm-12 col-lg-12">


<div class="prompt-group row" id="archive-grid">
{{#each prompt}}

	<a href="/archive/{{promptId}}">
		<div class="prompt-wrapper archived" id="{{prompt_key}}">

			<div class="row prompt">

				{{prompt}}

				{{prompt.location}}
						
			</div>

		</div>
	</a>

{{/each}}
</div>

</div> <!-- .container-fluid -->