{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid present">
	<div class="row" style="color: white;">
		
	</div>

	<div class="prompt-wrapper" id="{{prompt_key}}">

		<div class="row prompt">

				{{prompt.prompt}}
					
		</div>

		<div class="row grid responses" id="response-group"></div>

	</div>

	<div class="response-input">

		<div class="icon-wrap">
			<p>Scroll through icons and tap to send!</p>

			<div class="icon-input section">
				<div class="icon-feed">

					{{#each icons}}

					<div class="icon">

						<div class="send-icon"></div>

						<img src="{{{cloudinaryUrl this.icon width=100 height=100 crop='scale' quality=100}}}" alt="{{this.name}}" class="event-photo" style="margin:0 auto;">

					</div>

					{{/each}}

				</div>
				
			</div>
		</div>


		<div class="text-input section">
				<p>Type and hit 'enter' to send, but keep it short!<br> (Tweet length)</p>


			<textarea name="text" rows="4" cols="14" wrap="soft" maxlength="120" id="prompt-input" placeholder="..."></textarea>

		</div>

		

	</div>

</div> <!-- .container-fluid -->