{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid present">

	<div class="name-input row" style="color: white;">

		<h3>Welcome to Creating Spaces!</h3>
		<h4>Before we start, what's your name?</h4>
		<input id="player_name" placeholder="name">
		<a id="name-input">Go</a>
			
	</div> <!-- .name-input -->

	<div class="prompt-group" id="prompt-group" style="display:none;">

		<h3>Thanks for joining us, <span></span>!</h3>

		<p>Choose a live plan from the dropdown and hit go!</p>

		<select>
		{{#each prompt}}
			<option id="{{promptId}}" value="{{prompt}}">
			{{prompt}}
			{{!-- location: {{location}} --}}
			</option>
		{{/each}}
		</select>

		<a id="prompt-choice">Go</a>

	</div> <!-- .prompt-group -->

	<div class="response-input" id="response-input" style="display:none;">
	</div> <!-- .response-input -->

</div> <!-- .container-fluid -->

