{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}

<div class="container-fluid home">

	<div class="prompt-input row">

		<h3>Welcome to PlaceBase!</h3>
		<h4>To start, choose a plan from the dropdown and hit go!</h4>
		{{!-- <p>Allow geolocation or enter your location below:</p>
		<div class="row">
			<input id="user_location">
		</div> --}}
		<select id="prompt-select" style="width:320px;">
		{{#each prompt}}
			{{#ifeq enabled true}}
				<option class="live" id="{{promptId}}" value="{{prompt}}">
					* Now Live: {{prompt}}
				</option>
			{{/ifeq}}
		{{/each}}
		</select>

		{{!-- <div id="map"></div> --}}

		<a id="prompt-choice">Go</a>		
			
	</div> <!-- .prompt-input -->


	<div class="response-input row" id="response-input" style="display:none;">
	</div> <!-- .response-input -->

	<div class="placebase row" id="placebase-live" style="display:none;">
	</div> <!-- .response-input -->


</div> <!-- .container-fluid -->
