{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid home">

	<div class="row" style="color: white;">

		{{index.title}}
		
	</div>

	<div class="row">

		{{index.text}}

	</div>

	<div class="row">

		{{!-- buttons for planning(group) & viewing(archive)--}}
		<a href="planner">planners</a>
		<a href="archive">create</a>

	</div>

</div> <!-- .container-fluid -->