{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid archive col-sm-12 col-lg-12">

	<div class="prompt-wrapper" id="{{prompt.prompt_key}}">

		<div class="row prompt">

			{{prompt.prompt}}

			<p class="instructions">Click on a response to like or comment.</p>
			<a id="response-back" class="btn" style="display:none;">Back</a>


			{{!-- {{prompt.location}} --}}
					
		</div>

		<div class="row grid responses" id="archived-responses">

		{{#each prompt.responses}}

			{{>response response=this archive=true}}

		{{/each}}

		</div>

	</div>

</div> <!-- .container-fluid -->