{{!< default}}
{{!--
/**
* Erica Salling
* Developed 2017
* ==============
*
* Plan Creation Page
* ==========
*/
--}}

<div class="comment-feed">
	{{#each comment}}
		{{>comment}}
	{{/each}}
</div>
<div class="comment-input">
	Comment:<input id="response-comment-input">
	Name:<input id="response-name-input">
	<a id="comment-send">send</a>
</div>
<div class="error comment"></div>
