<a id="menu-toggle" href="#" class="toggle"><img src="/images/nav_icon.png" style="width: 40px"></a>

<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-lg pull-right toggle">close</i></a>
    <li>
		{{!-- buttons for planning(group) & viewing(archive)--}}
		<a class="btn big_btn" href="/planner">start a placebase</a>
		<a class="btn big_btn" href="/">join an open placebase</a>

		<a class="btn big_btn" href="/archive">placebase archives</a>

	</div>
    </li>
  </ul>
</div>