{{!< default}}
{{!--
/**
* Erica Salling
* Developed 2017
* ==============
*
* Plan Creation Page
* ==========
*/
--}}


<div class="popup-wrapper">

	<div class="message">Thank you for responding!</div>

	<div class="popup-question">

		<p>Would you like to respond again, or go explore the archives?</p>
	
		<p>In the archives you can comment or like other responses from this and other live or archived PlaceBases</p>

		<button class="maximal bottom half left abort">Respond Again</button>
		<button class="maximal bottom half right confirm">Explore Other Responses</button>

	</div>

</div>


