{{!< default}}
{{!--
/**
* Erica Salling
* Developed 2017
* ==============
*
* Prompt Presentation Page
* ==========
*/
--}}


<div class="">
	<div class="row" style="color: white;">
		
	</div>

	<div class="prompt-wrapper" id="{{prompt_key}}">

		<div class="row prompt">

			{{prompt.prompt}}
					
		</div>

		<div class="row grid responses" id="response-group"></div>

	</div>


</div> <!-- .container-fluid -->