{{!< default}}
{{!--
/**
* Erica Salling
* Developed 2017
* ==============
*
* Plan Creation Page
* ==========
*/
--}}


<div class="response-grid row grid-lg-3 grid-md-1" id="popular-responses">

<h4>Most Popular</h4>

{{#each popular}}

	{{> response this}}

{{/each}}

</div>

<div class="response-grid row grid-lg-1" id="new-responses">

<h4>New Responses</h4>

{{#each recent}}

	{{> response this}}

{{/each}}

</div>