// SAMPLE PALETTE
$color-peach: #ff9971;
$color-dark-orange: #ff5e41;
$color-gray-orange: #674B47;
$color-light-orange: #ffb71d;
$color-light-blue: #2bd3ee;
$color-light-orange: #ffb71d;
$color-light-green: #13e695;
$color-neon-green: #C8E646;
$color-light-red: #ab3724;
$color-dark-purple: #6768FE;
$color-bright-yellow: #FFD255;
$color-orange: #FD6D59;
$color-red: #fe6444;
$color-blue-alt: #4343ff;
$color-salmon: #ff7f7d;
$color-violet: #7c90ff;
$color-teal: #36d5d9;
$color-yellow: #fbd738;
$color-green: #00CB86;

// COLOR PALETTE
$color-grey: #606060;
$color-grey-lite: #DCDCDC;
$color-white: #FCFCFC;
$color-black: #212121;
$color-blue: #6C91A3;
$color-blue-dark: #4D7A91;
$color-blue-lite: #A3CCE0;
$color-green: #7CAA95;
$color-green-lite: #AAD9C4;


// Icon Sizing

$icon-width: 150px;
$icon-height: 150px;
$response-width: 150px;
$response-height: 150px;

