{{!< default}}
{{!--
/**
* Erica Salling
* Developed 2017
* ==============
*
* Prompt Presentation Page
* ==========
*/
--}}


<div class="container-fluid present">
	<div class="row" style="color: white;">
		
	</div>

	<div class="prompt-wrapper" id="{{prompt.promptId}}">

		<div class="row prompt">

			{{prompt.prompt}}
					
		</div>

		<div class="row grid responses" id="response-group">

		{{#each prompt.responses}}

			{{#ifeq this.type 'Text'}}

			<div class="item text col-sm-3"><p> {{response}} </p></div>

			{{else}}

			<div class="item icon col-sm-3"><img src=""></div>

			{{/ifeq}}

		{{/each}}

		</div>

	</div>


</div> <!-- .container-fluid -->