{{!< default}}
{{!--
/**
* Erica Salling
* Developed 2017
* ==============
*
* Prompt Presentation Page
* ==========
*/
--}}


<div class="container-fluid present">
	<div class="prompt-wrapper" id="{{prompt.promptId}}">

		<div class="row prompt">

			<h1>{{prompt.prompt}}</h1>

			{{#if prompt.promptAlt}}

				{{#each prompt.promptAlt}}

					<h2>{{this}}</h2>

				{{/each}}

			{{/if}}
					
		</div>

		<div class="row">

			{{#if prompt.description}}

			<div class="prompt-desc col-sm-4">

			{{{prompt.description.html}}}

			</div>

			{{/if}}

			<div class="grid responses col-sm-8" id="response-group">

				{{>responseGroup}}

			</div>
		</div>

	</div>

	<h3 id="go-to">Go to  <span>placebase.net</span>  to contribute</h3>

</div> <!-- .container-fluid -->