.hidden {
  visibility: hidden; }

body, html {
  overflow: hidden;
  height: 100%; }

input:focus, a:focus, .btn:focus {
  outline: none; }

.maximal {
  border: 1px solid #212121;
  color: #212121; }
  .maximal:hover, .maximal:focus {
    border: 1px solid #3b3a3a;
    color: #3b3a3a; }

.error {
  display: none;
  padding: 8px;
  width: 100%;
  height: 60px;
  color: #DCDCDC;
  background-color: #6C91A3; }
  .error.response {
    position: absolute;
    bottom: 0px;
    height: 30px; }

.row {
  margin: 0px; }

.modal {
  height: 100%;
  margin-top: -40px;
  background-color: rgba(33, 33, 33, 0.8); }

.popup-wrapper {
  height: 400px;
  max-width: 100%;
  margin: 0 auto;
  width: 300px;
  margin-top: 10%;
  background-color: #DCDCDC;
  border: 4px solid #212121;
  color: #212121;
  padding: 8px;
  text-align: center; }
  .popup-wrapper button {
    width: 100%;
    display: inline-block;
    color: #212121;
    margin: 10px auto;
    height: 60px;
    line-height: 60px;
    font-size: 20px; }

#go-to {
  position: absolute;
  bottom: 30px;
  left: 0px;
  padding-left: 10px;
  padding-top: 8px;
  height: 40px;
  margin-top: 60px;
  width: 100%;
  background-color: #6C91A3; }

.body {
  background-color: #6C91A3;
  color: #DCDCDC;
  font-family: "Roboto", sans-serif;
  font-weight: 500; }

@media (max-width: 480px) {
  .desktop-only {
    display: none; } }

@media only screen and (min-width: 1025px) {
  .mobile-only {
    display: none; } }

.bg-b {
  position: absolute;
  bottom: 10px;
  width: 100%; }

.btn {
  height: auto;
  width: 120px;
  border: 5px #212121 solid;
  border-radius: 1px;
  background-color: #DCDCDC;
  color: #212121;
  font-size: 18px;
  line-height: 30px;
  padding: 0px 4px;
  white-space: pre-wrap;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s; }
  .btn:hover, .btn:focus {
    color: #606060;
    border: 5px #606060 solid; }

.btn.big_btn {
  height: auto;
  width: 120px;
  border: 8px #6C91A3 solid;
  border-radius: 4px;
  font-size: 28px;
  display: block; }
  .btn.big_btn:hover, .btn.big_btn:focus {
    border: 8px #abc0ca solid; }

input[type=text] {
  width: 300px;
  max-width: 100%;
  margin: 16px auto;
  padding: 8px;
  background-color: #FCFCFC;
  color: #212121;
  border: 2px #212121 solid; }

.buffer {
  margin-top: 5%; }

#menu-toggle {
  color: #212121;
  margin: 0px 4px;
  font-size: 24px;
  z-index: 1000000;
  position: absolute;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s; }
  #menu-toggle:hover, #menu-toggle:focus {
    color: #606060; }

#sidebar-wrapper {
  width: 100%;
  max-width: 500px;
  height: 100%;
  background-color: #212121;
  color: #DCDCDC;
  position: absolute;
  left: -500px;
  top: 0px;
  z-index: 1000;
  -webkit-transition: left 0.5s;
  /* Safari */
  transition: left 0.5s; }
  #sidebar-wrapper.open {
    left: 0px;
    z-index: 10000001; }
  #sidebar-wrapper ul {
    list-style: none;
    padding: 0px;
    width: 100%;
    position: relative;
    display: table;
    height: 100%; }
  #sidebar-wrapper li {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    height: auto; }
  #sidebar-wrapper a {
    border: 5px solid #DCDCDC;
    height: auto;
    width: 250px;
    margin: 5% auto;
    background-color: transparent;
    font-size: 32px;
    padding: 5%;
    color: #DCDCDC;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    #sidebar-wrapper a:hover, #sidebar-wrapper a:focus {
      color: #606060;
      border: 5px solid #606060; }
    #sidebar-wrapper a#menu-close {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 50px;
      height: 50px;
      padding: 0px;
      margin: 0px;
      border: 0px;
      color: #FCFCFC;
      z-index: 2000;
      -moz-transition: all, 0.5s;
      -o-transition: all, 0.5s;
      -webkit-transition: all, 0.5s;
      transition: all, 0.5s; }
      #sidebar-wrapper a#menu-close:hover, #sidebar-wrapper a#menu-close:focus {
        color: #606060; }

#prompt-select {
  font-size: 18px;
  color: #212121;
  border-radius: 0px;
  border: 2px #212121 solid;
  background-color: #DCDCDC;
  display: block;
  margin: 10px auto;
  max-width: 100%;
  width: 100%;
  min-width: 250px;
  padding: 0px 8px;
  display: table; }

.prompt-info {
  padding-top: 8px;
  border-bottom: 2px solid #212121; }
  .prompt-info h3 {
    margin: 0px;
    margin-bottom: 8px; }
    @media (max-height: 600px) {
      .prompt-info h3 {
        font-size: 18px; } }

#map {
  height: 300px;
  width: 400px;
  max-width: 100%;
  margin: 5% auto; }

.home {
  text-align: center;
  height: calc(100% - 60px);
  text-align: center;
  display: table; }

.create {
  text-align: center;
  width: 320px; }

.selected {
  border: 1px black solid; }

.page-wrapper {
  height: 100%;
  position: relative;
  padding-bottom: 40px;
  margin-top: 40px; }
  .page-wrapper.scrollable {
    overflow-y: scroll; }

.profile {
  text-align: center; }
  .profile .base {
    margin: 5%; }
  .profile .old-plan-group {
    margin-top: 5%; }

#load-plan {
  display: block; }

.old-plan {
  height: 100px;
  width: 100px;
  display: inline-block;
  background-color: #ADD8E6;
  margin: 10px; }
  .old-plan .content {
    display: table;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    text-align: center; }
  .old-plan p {
    display: table-cell;
    vertical-align: middle; }

.prompt-wrapper {
  padding: 20px;
  margin-top: 40px; }
  @media (max-width: 768px) {
    .prompt-wrapper {
      padding: 8px; } }
  .prompt-wrapper.archived {
    height: 100px;
    font-size: 18px;
    padding: 8px;
    background-color: #A3CCE0;
    color: #212121;
    margin: 2% 1%;
    overflow: hidden; }
    .prompt-wrapper.archived .prompt {
      font-size: 14px; }

#archive-grid .prompt {
  font-size: 18px;
  line-height: 1;
  text-align: center;
  color: #FCFCFC;
  padding: 10px 0px;
  position: relative;
  margin-top: 0px;
  width: 100%; }

#archive-grid .prompt-wrapper {
  transition: all 0.2s; }
  #archive-grid .prompt-wrapper:hover, #archive-grid .prompt-wrapper:focus {
    transform: scale(1.05); }

.item {
  height: 150px;
  width: 100px;
  padding: 0px;
  color: #212121;
  text-align: center;
  display: table;
  margin: 10px;
  font-size: 24px; }
  .item .tag {
    display: block;
    font-size: 12px;
    padding-top: 4px;
    height: 40px;
    border-top: 4px solid #212121; }
  .item.text {
    height: 150px;
    border: 2px solid #212121;
    background-color: #DCDCDC; }
    .item.text p {
      padding: 4px;
      font-size: 10px; }
  .item .response {
    height: 100px;
    width: 100px;
    display: table; }
  .item.icon {
    height: 150px;
    width: 100px;
    background-color: #DCDCDC; }
    .item.icon img {
      height: 90px;
      width: 90px;
      margin: 0 auto; }
  .item p {
    display: table-cell;
    vertical-align: middle; }
  .item.open {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    left: 0px !important;
    top: 0px !important;
    overflow: scroll;
    margin-bottom: 100px; }
    .item.open .response {
      width: 200px;
      height: 200px;
      margin: 0px auto; }
      .item.open .response img {
        height: 190px;
        width: 190px; }
    .item.open .comment-bubble {
      top: 205px;
      left: 5px; }
    .item.open .like-bubble {
      top: 205px;
      right: 5px; }
    .item.open .tag {
      font-size: 18px;
      padding-right: 30px;
      padding-left: 30px;
      border-bottom: 2px solid #212121; }
    .item.open .response-comments {
      display: block !important; }

.prompt {
  font-size: 36px;
  text-align: center;
  color: #FCFCFC;
  padding: 10px 0px;
  position: relative;
  margin-top: -20px;
  width: 100%; }
  @media (max-width: 768px) {
    .prompt {
      margin-top: -20px;
      font-size: 24px; }
      .prompt h1 {
        font-size: 24px; } }

.response-grid {
  width: 100%;
  position: fixed;
  overflow: hidden;
  width: calc(100% - 80px); }

#new-responses {
  bottom: 40px; }

#popular-responses {
  height: 60%; }

@media (min-width: 2000px) {
  .grid-xlg-4 {
    max-height: 780px; }
  .grid-xlg-1 {
    max-height: 240px; } }

@media (min-height: 1024px) and (max-width: 2000px) {
  .grid-lg-3 {
    max-height: 540px; }
  .grid-lg-1 {
    max-height: 240px; } }

@media (min-height: 700px) and (max-height: 1024px) {
  .grid-md-2 {
    max-height: 380px; }
  .grid-md-1 {
    max-height: 200px; } }

@media (max-height: 700px) and (min-height: 480px) {
  .grid-sm-2 {
    max-height: 380px; }
  .grid-sm-1 {
    max-height: 200px; } }

.bubble {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 10px;
  line-height: 30px;
  border-radius: 15px;
  border: 1px solid #212121;
  background-size: 25px 25px;
  background-position: center;
  background-repeat: no-repeat; }

.comment-bubble {
  top: -5px;
  left: -5px;
  background-color: #A3CCE0;
  background-image: url("/images/comment.png"); }

.like-bubble {
  top: -5px;
  right: -5px;
  background-color: #AAD9C4;
  background-image: url("/images/like.png");
  background-position-y: top; }

#prompt-input {
  color: #212121;
  height: 80px;
  width: 100%;
  font-size: 18px; }

.prompt-input {
  padding: 8px;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  left: 0px;
  -moz-transition: all, 1s;
  -o-transition: all, 1s;
  -webkit-transition: all, 1s;
  transition: all, 1s; }
  .prompt-input .text {
    -moz-transition: all, 1s;
    -o-transition: all, 1s;
    -webkit-transition: all, 1s;
    transition: all, 1s; }
  .prompt-input.chosen {
    position: absolute;
    top: -200px; }
    .prompt-input.chosen .text {
      display: none; }

#toggle {
  color: black; }

#back-btn {
  position: absolute;
  bottom: 5px;
  width: 40px;
  height: 30px;
  left: 140px;
  background-color: white;
  border: 2px black solid;
  border-radius: 4px; }

select option {
  word-wrap: wrap; }

.icon-wrap {
  width: 100%;
  max-height: 450px;
  padding: 0px;
  position: relative; }
  .icon-wrap p {
    margin-bottom: 4px; }
  .icon-wrap.planner {
    width: 100%;
    position: absolute; }

.icon-input {
  height: 300px;
  max-width: 100%;
  max-height: 85%;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: scroll;
  position: relative;
  margin-bottom: 0px !important;
  border-bottom: 2px solid #212121; }
  @media (max-height: 600px) {
    .icon-input {
      height: 200px; } }
  @media (max-height: 480px) {
    .icon-input {
      height: 140px; } }

.icon-feed {
  height: 100px;
  overflow-x: auto;
  overflow-y: hidden; }

.icon {
  height: 100px;
  width: 100px;
  padding: 0px;
  display: inline-block;
  border: 1px solid #212121; }
  .icon img {
    display: block; }
  .icon.selected {
    border: 4px solid #212121; }
  .icon .tag {
    display: block;
    border-top: 4px solid #212121; }

#user_location {
  border: 2px solid #212121;
  color: #212121;
  margin: 20px auto; }
  #user_location:hover, #user_location:focus {
    box-shadow: none; }

.dropdown-menu {
  width: 350px;
  max-width: 100%;
  margin-top: -10px;
  background-color: #FCFCFC;
  border-radius: 0px;
  border: 2px solid #212121;
  padding: 0px; }
  .dropdown-menu * {
    white-space: pre-wrap; }
  .dropdown-menu ul {
    margin-top: -10px; }
  .dropdown-menu li {
    border-bottom: 1px solid #212121; }
    .dropdown-menu li a {
      white-space: pre-wrap; }

.plan-options {
  width: 350px;
  max-width: 100%;
  height: 80px;
  /* line-height: 80px; */
  padding: 16px;
  position: relative;
  float: left;
  margin: 0px;
  white-space: initial; }
  .plan-options .button-text {
    white-space: pre-wrap;
    display: table-cell;
    vertical-align: middle; }

.name-input {
  display: inline-block;
  margin-bottom: 40px; }
  .name-input * {
    float: left;
    margin: 4px; }
  .name-input input {
    float: left;
    height: 20px; }

#player_name {
  color: #212121; }

.text-input {
  border-bottom: 2px solid #212121; }
  .text-input p {
    margin-bottom: 4px; }
  .text-input input {
    width: 100%; }
  @media (max-height: 600px) {
    .text-input {
      margin-bottom: 0px !important; } }

.response-input {
  position: absolute;
  top: 0px;
  width: 95%;
  height: 90%;
  left: 0px;
  right: 0px;
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  background-color: #DCDCDC;
  color: #212121;
  border: 4px solid #212121; }
  .response-input .section {
    display: inline-block;
    margin-bottom: 10px; }
  .response-input a {
    background-color: #FCFCFC;
    height: 20px;
    width: 60px;
    color: #212121;
    line-height: 20px; }

.instructions {
  font-size: 18px; }

#response-back {
  display: block;
  margin-top: 10px;
  left: 0px; }

.comment-feed .comment {
  margin: 4px;
  border: 1px solid black;
  padding: 4px;
  line-height: 1;
  text-align: left; }
  .comment-feed .comment h3 {
    display: inline;
    font-size: 16px;
    margin: 0px;
    padding: 0px; }
  .comment-feed .comment p {
    display: inline;
    color: #6C91A3;
    font-size: 18px;
    margin: 0px;
    padding: 0px; }

.present .prompt-wrapper {
  margin-top: -40px; }

.present .prompt h1 {
  margin-top: 10px; }

.present .prompt h2 {
  margin-top: 0px; }

/*# sourceMappingURL=core.css.map */