.hidden {
  visibility: hidden; }

body, html {
  overflow: hidden;
  height: 100%; }

input:focus, a:focus, .btn:focus {
  outline: none; }

.body {
  background-color: #6C91A3;
  color: #DCDCDC;
  font-family: "Roboto", sans-serif;
  font-weight: 500; }

@media (max-width: 480px) {
  .desktop-only {
    display: none; } }

@media only screen and (min-width: 1025px) {
  .mobile-only {
    display: none; } }

.bg-b {
  position: absolute;
  bottom: 10px;
  width: 100%; }

.btn {
  height: auto;
  width: 120px;
  border: 5px #212121 solid;
  border-radius: 1px;
  background-color: #DCDCDC;
  color: #212121;
  font-size: 18px;
  line-height: 30px;
  padding: 0px 4px;
  white-space: pre-wrap;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s; }
  .btn:hover, .btn:focus {
    color: #606060;
    border: 5px #606060 solid; }

.btn.big_btn {
  height: auto;
  width: 120px;
  border: 8px #6C91A3 solid;
  border-radius: 4px;
  font-size: 28px;
  display: block; }
  .btn.big_btn:hover, .btn.big_btn:focus {
    border: 8px #abc0ca solid; }

input[type=text] {
  width: 300px;
  max-width: 100%;
  margin: 16px auto;
  padding: 8px;
  background-color: #FCFCFC;
  color: #212121;
  border: 2px #212121 solid; }

.buffer {
  margin-top: 5%; }

#menu-toggle {
  border: 6px #212121 solid;
  color: #212121;
  margin: 8px;
  font-size: 24px;
  -moz-transition: all, 0.5s;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s; }
  #menu-toggle:hover, #menu-toggle:focus {
    color: #606060;
    border-color: #606060; }

#sidebar-wrapper {
  width: 350px;
  height: 100%;
  background-color: #212121;
  color: #DCDCDC;
  position: absolute;
  left: -350px;
  top: 0px;
  -webkit-transition: left 1s;
  /* Safari */
  transition: left 1s; }
  #sidebar-wrapper.open {
    left: 0px; }
  #sidebar-wrapper ul {
    list-style: none;
    padding: 0px;
    width: 100%; }
  #sidebar-wrapper li {
    width: 100%;
    margin-top: 50%; }
  #sidebar-wrapper a {
    border: 5px solid #DCDCDC;
    height: auto;
    width: 250px;
    margin: 5% auto;
    background-color: transparent;
    font-size: 32px;
    padding: 5%;
    color: #DCDCDC;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
    #sidebar-wrapper a:hover, #sidebar-wrapper a:focus {
      color: #606060;
      border: 5px solid #606060; }
    #sidebar-wrapper a#menu-close {
      position: absolute;
      top: 10px;
      left: 0px;
      width: 50px;
      height: 50px;
      padding: 0px;
      margin: 0px;
      border: 0px;
      color: #FCFCFC;
      -moz-transition: all, 0.5s;
      -o-transition: all, 0.5s;
      -webkit-transition: all, 0.5s;
      transition: all, 0.5s; }
      #sidebar-wrapper a#menu-close:hover, #sidebar-wrapper a#menu-close:focus {
        color: #606060; }

#prompt-select {
  height: 60px;
  width: 600px;
  max-width: 100%;
  font-size: 18px;
  color: #212121;
  border-radius: 0px;
  border: 2px #212121 solid;
  background-color: #DCDCDC;
  display: block;
  margin: 10px auto; }
  #prompt-select option {
    width: 600px;
    max-width: 100%;
    font-size: 18px; }

#map {
  height: 300px;
  width: 400px;
  max-width: 100%;
  margin: 5% auto; }

.home {
  text-align: center; }

.create {
  text-align: center;
  width: 320px; }

.selected {
  border: 1px black solid; }

.page-wrapper {
  height: 100%; }

.profile {
  text-align: center; }
  .profile .base {
    margin: 5%; }
  .profile .old-plan-group {
    margin-top: 5%; }

#load-plan {
  display: block; }

.old-plan {
  height: 100px;
  width: 100px;
  display: inline-block;
  background-color: #ADD8E6;
  margin: 10px; }
  .old-plan .content {
    display: table;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    text-align: center; }
  .old-plan p {
    display: table-cell;
    vertical-align: middle; }

.item {
  height: 200px;
  width: 150px;
  padding: 0px;
  color: black;
  text-align: center;
  display: table;
  margin: 30px;
  font-size: 24px; }
  .item.text {
    height: 150px;
    border: 2px solid black;
    background-color: #ADD8E6; }
  .item .response {
    height: 150px;
    width: 150px; }
  .item.icon {
    height: 200px;
    width: 150px;
    background-color: transparent; }
    .item.icon img {
      height: 150px;
      width: 150px; }
  .item p {
    display: table-cell;
    vertical-align: middle; }

.prompt {
  font-size: 36px;
  text-align: center;
  color: #FCFCFC;
  padding: 10px 0px; }

#prompt-input {
  color: black;
  height: 80px;
  width: 300px;
  font-size: 18px; }

#toggle {
  color: black; }

#back-btn {
  position: absolute;
  bottom: 5px;
  width: 40px;
  height: 30px;
  left: 140px;
  background-color: white;
  border: 2px black solid;
  border-radius: 4px; }

select option {
  word-wrap: wrap; }

.icon-wrap {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  max-height: 450px; }
  .icon-wrap.planner {
    width: 100%;
    position: absolute; }

.icon-input {
  height: 90%;
  width: 300px;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: scroll;
  position: relative; }

.icon-feed {
  height: 100px;
  overflow-x: auto;
  overflow-y: hidden; }

.icon {
  height: 100px;
  width: 100px;
  padding: 0px;
  display: inline-block;
  border: 1px solid black; }
  .icon img {
    display: block; }
  .icon.selected {
    border: 4px solid black; }
  .icon .tag {
    display: block; }

#user_location {
  border: 2px solid #212121;
  color: #212121;
  margin: 20px auto; }
  #user_location:hover, #user_location:focus {
    box-shadow: none; }

#player_name {
  color: #212121; }

.response-input {
  position: absolute;
  bottom: 0px;
  width: 90%;
  left: 5%;
  text-align: center; }
  .response-input .section {
    display: inline-block;
    margin-bottom: 60px; }
  .response-input a {
    background-color: white;
    height: 60px;
    width: 80px;
    color: #212121; }

/*# sourceMappingURL=core.css.map */