@import "core/variables";
@import "core/mixins";
@import "core/functions";

// Use for any elements hidden initilly
.hidden {
	visibility: hidden;
}

body, html {
	overflow:hidden;
}

// Body
.body {
  background-color: white;
  color: black;
  font-family: "HalisLight";
}

.desktop-only {
	// Hide for mobile
	@include mobile-only {
		display: none;
	}
}
.mobile-only {
	// Hide for desktop
	@include desktop-and-up {
		display: none;
	}
}
.buffer {
		margin-top: 5%;	
}

.main {

}

// Response item
.item {
	height: 150px;
	width: 150px;
	color: black;
	text-align:center;
	display: table;
	margin: 30px;
	font-size:24px;


	&.text {
		border: 2px solid black;
		background-color: #ADD8E6;
	}

	&.icon {
		height: 150px;
		width: 150px;
		background-color: transparent;
		img {
			height: 150px;
			width: 150px;
		}
	}

	p {
		display: table-cell;
		vertical-align: middle;
	}
}

// Prompt 
.prompt {
	font-size: 36px;
	text-align: center;
	color: blue;
  padding: 10px 0px;
}

#prompt-input {
	color: black;
	height: 80px;
	width: 400px;
	font-size:18px;
}

#toggle {
	color: black;
}
.icon-wrap {
	border: 1px solid black;
	width: 520px;
	height: 150px;
	display: inline-block;
}
.icon-input {
  height: 120px;
  width: 500px;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: hidden;
}

.icon-feed {
	height:100px;
	width:100%;
	overflow-x:auto;
	overflow-y: hidden;
}
.icon {
	height: 100px;
	width: 100px;
  display: inline-block;
}

.response-input {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align:center;

	.section {
		display: inline-block;
	}

	a {
		background-color:white;
		height: 60px;
		width:80px;
		color: black;
	}
}

// Response Archive
.home {

	
}

// Input page



// Present page

