@import "core/variables";
@import "core/mixins";
@import "core/functions";

// Use for any elements hidden initilly
.hidden {
	visibility: hidden;
}

body, html {
	overflow:hidden;
	height:100%;
}

input, a, .btn {
	&:focus {
		outline: none;
	}
}



// Body
.body {
  background-color: $color-blue;
  color: $color-grey-lite;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.desktop-only {
	// Hide for mobile
	@include mobile-only {
		display: none;
	}
}
.mobile-only {
	// Hide for desktop
	@include desktop-and-up {
		display: none;
	}
}
// Buttons
.bg-b {
	position: absolute;
    bottom: 10px;
    width: 100%;
}
.btn {
	height: auto;
	width: 120px;
	border: 5px $color-black solid;
	border-radius: 1px;
	background-color: $color-grey-lite;
	color: $color-black;
	font-size: 18px;
	line-height: 30px;
	padding: 0px 4px;
	white-space: pre-wrap;

	@include transition(all, 0.5s);

	&:hover, &:focus {
		color: $color-grey;
		border: 5px $color-grey solid;
	}
} 

.btn.big_btn {
	height: auto;
	width: 120px;
	border: 8px $color-blue solid;
	border-radius: 4px;
	font-size: 28px;
    display: block;

    &:hover, &:focus {
    	border: 8px lighten($color-blue, 20%) solid;
    }

}

input[type=text] {
	width: 300px;
	max-width: 100%;
	margin:  16px auto;
	padding: 8px;
	background-color: $color-white;
	color: $color-black;
    border: 2px $color-black solid;

}
.buffer {
	margin-top: 5%;	
	
}

// NAVIGATION

#menu-toggle {
	border: 6px $color-black solid;
    color: $color-black;
    margin: 8px;
	font-size: 24px;
	@include transition(all, 0.5s);

	&:hover, &:focus {
		color: $color-grey;
		border-color: $color-grey;
	}
}

#sidebar-wrapper {
	width: 350px;
	height: 100%;
	background-color: $color-black;
	color: $color-grey-lite;
	position: absolute;
	left: -350px;
	top: 0px;

	-webkit-transition: left 1s; /* Safari */
    transition: left 1s;

	&.open {
		left: 0px;
	}

	ul {
		list-style: none;
		padding: 0px;
		width:100%;
	}

	li {
		width: 100%;
		margin-top: 50%;

	}

	a {
		border: 5px solid $color-grey-lite;
		height: auto;
		width: 250px;
		margin: 5% auto;
		background-color: transparent;
		font-size: 32px;
		padding: 5%;
		color: $color-grey-lite;
		@include transition(all 0.5s);

		&:hover, &:focus {
			color: $color-grey;
			border: 5px solid $color-grey;
		}

		&#menu-close {
			position: absolute;
			top: 10px;
			left: 0px;
			width: 50px;
			height: 50px;
			padding: 0px;
			margin: 0px;
			border: 0px;
			color: $color-white;

			@include transition(all, 0.5s);

			&:hover, &:focus {
				color: $color-grey;
			}
		}
	}
}

#prompt-select {
	height: 60px;
	width: 600px;
	max-width: 100%;
	font-size: 18px;
	color: $color-black;
	border-radius: 0px;
	border: 2px $color-black solid;
	background-color: $color-grey-lite;
	display: block;
    margin: 10px auto;

	option {
		width: 600px;
		max-width: 100%;
		font-size: 18px;
	}
}

#map {
	height: 300px;
	width: 400px;
	max-width: 100%;
	margin: 5% auto;
}


.home { 
	text-align: center;
}

.create {
	text-align:center;
	width:320px;
}

.selected {
	border: 1px black solid;
}

.page-wrapper {
	height:100%;
}

.profile {
	text-align:center;
	.base {
		margin: 5%;
	}
	.old-plan-group {
		margin-top: 5%;
	}

}
#load-plan {
	display: block;
}

.old-plan {
	height: 100px;
	width: 100px;
	display: inline-block;
	background-color: #ADD8E6;
	margin: 10px;

	.content {
		display: table;
		height: 100%;
	    width: 90%;
	    margin: 0 auto;
	    text-align: center;
	}

	p {
		display: table-cell;
		vertical-align: middle;

	}

}

// Response item
.item {
	height: 200px;
	width: 150px;
    padding: 0px;
	color: black;
	text-align:center;
	display: table;
	margin: 30px;
	font-size:24px;


	&.text {
		height: 150px;
		border: 2px solid black;
		background-color: #ADD8E6;
	}

    .response {
    	height: 150px;
    	width: 150px;
    }

	&.icon {
		height: 200px;
	    width: 150px;
		background-color: transparent;
		img {
			height: 150px;
			width: 150px;
		}
	}

	p {
		display: table-cell;
		vertical-align: middle;
	}
}

// Prompt 
.prompt {
	font-size: 36px;
	text-align: center;
	color: $color-white;
    padding: 10px 0px;
}

#prompt-input {
	color: black;
	height: 80px;
	width: 300px;
	font-size:18px;
}

#toggle {
	color: black;
}
#back-btn {
	position: absolute;
    bottom: 5px;
    width: 40px;
    height: 30px;
    left: 140px;
	background-color: white;
	border: 2px black solid;
	border-radius: 4px;
}
select {
	option {
		word-wrap: wrap;
	}
}
.icon-wrap {
	border: 1px solid black;
	width: 100%;
	height: 100%;
	max-height: 450px;

	&.planner {
		width: 100%;
		position: absolute;
	}
}
.icon-input {
  height: 90%;
  width: 300px;
  margin: 0 auto;
  overflow-x: auto;
  overflow-y: scroll;
  position: relative;
}

.icon-feed {
	height:100px;
	// width:auto;
	overflow-x:auto;
	overflow-y: hidden;
}
.icon {
	height: 100px;
	width: 100px;
	padding:0px;
	display: inline-block;
    border: 1px solid black;
    img {
    	display: block;
    }


    &.selected {
    	border: 4px solid black;
    }
    .tag {
    	display: block;
    }
}

#user_location {
	border: 2px solid $color-black;
	color: $color-black;
	margin: 20px auto;

	&:hover, &:focus {
		box-shadow: none;

	}
}

.name-input {

}

#player_name {
	color: $color-black;
}

.response-input {
	position: absolute;
	bottom: 0px;
	width: 90%;
	left: 5%;
	text-align:center;

	.section {
		display: inline-block;
		margin-bottom: 60px;
	}

	a {
		background-color:white;
		height: 60px;
		width:80px;
		color: $color-black;
	}
}

// Response Archive
.home {

	
}

// Input page



// Present page

